name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: BigWigs Packager
        uses: BigWigsMods/packager@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cf_token: ${{ secrets.CF_API_TOKEN }}
          wago_token: ${{ secrets.WAGO_API_TOKEN }}
